services:
  app:
    # image: api:latest # whatever image you built
    build:
      context: .
      dockerfile: Dockerfile
      args:
        PROJECT: app
    ports:
      - '3000:3000'
    env_file:
      - apps/app/.env
    environment:
      - REDIS_URL=redis://redis:6379
    volumes:
      - ./apps/app/matrix-storage:/app/matrix-storage
    depends_on:
      redis:
        condition: service_healthy

  redis:
    image: redis:alpine
    container_name: qiforge-redis
    ports:
      - '6379:6379'
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 10s
      timeout: 5s
      retries: 3

  redis-insight:
    image: redis/redisinsight:latest
    container_name: qiforge-redis-insight
    ports:
      - '8001:5540'
    depends_on:
      - redis

volumes:
  redis-data:
